* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: monospace;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  margin: 20px;
}

.listButton {
  color: black;
  text-align: center;
  display: block;
  border-radius: 5px;
  padding-top: 10px;
  text-decoration: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

.form-inline {
  float: right;
}

.close {
  text-transform: none;
  margin: auto;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.pokemon-list {
  margin: 100px 100px 100px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  list-style: none;
  text-align: center;
  padding: 0;
}

.modal-title {
  text-transform: capitalize;
}

button.close {
  width: 50px;
  height: 50px;
  text-decoration: none;
  margin: auto;
  text-align: center;
}

.btn-secondary {
  width: 100px;
  height: 50px;
}

@media all and (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}
